<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="resources/js/jquery-3.0.0.min.js"></script>
    <link href="resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    </link>
    <link href="resources/css/style.css" rel="stylesheet">
    </link>
    <script src="resources/bootstrap/js/bootstrap.min.js"></script>
    <script src="resources/js/vue.js"></script>
    <script src="resources/js/objects.js"></script>
    <script src="resources/js/utilities.js"></script>
    <script src="socket.io/socket.io.js"></script>
</head>

<body>
    <div id="app" class="login-input-container">

        <div id="newGameModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Create Game</h4>
                    </div>
                    <div class="modal-body">
                        <p>Enter Name of Session</p>
                        <input type="text" class="input-text" v-model="session_input.name" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"
                            v-on:click="onSaveGame()">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- users -->
        <ul class="list-group">
            <li class="list-group-item" v-for="user,index in users">
                <p>{{index + 1}}. {{user.username}}</p>
            </li>
        </ul>
         <button v-on:click="onLogOut()">Log out</button>
        <!-- /users -->
        <!-- lobbies -->
        <ul class="list-group">
            <li class="list-group-item" v-for="session,index in sessions">
                <p>{{index + 1}}. {{session.name}}</p>
          <button class="name-button"
          v-on:click="onJoinGame(index)">Join Game</button>
          <p>{{session.players.length}}</p>
        
            </li>
        </ul>
        <!-- /lobbies -->
        <button class="input-button" v-on:click="onCreateGame()">Create Game</button>
        
    </div>


    <script src="resources/js/lobby.js"></script>
</body>

</html>